
<div class="search-container">
  
<form class="search-form" id="search-form">
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search"
        class="search-form__input"
      />
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Year"
        class="year-form__input"
      />
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Genre"
        class="genre-form__input"
      />
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Country"
        class="country-form__input"
      />
      <button type="submit"class="search-white-magnifier-dark-theme"></button>
    </form>
</div>
<div class="container">
  <ul class="card"></ul>
</div>