<div class="search-container">
  <form class="search-form" id="search-form">
    <input
      type="text"
      name="searchQuery"
      id="search-input"
      autocomplete="off"
      placeholder="Search"
      class="search-form__input"
    />
    <input
      type="text"
      name="year"
      autocomplete="off"
      placeholder="Year"
      class="year-form__input"
    />
    <input
      type="text"
      name="genre"
      autocomplete="off"
      placeholder="Genre"
      class="genre-form__input"
    />
    <input
      type="text"
      name="Country"
      autocomplete="off"
      placeholder="Country"
      class="country-form__input"
    />
    <button type="submit" class="search-white-magnifier-dark-theme"></button>
  </form>
</div>
<div class="container">
  <ul class="card" id="movie-list"></ul>
</div>
<div id="pagination">
  <button data-page="1">1</button>
  <button data-page="2">2</button>
  <button data-page="3">3</button>
</div>
