<header class="container">
  <nav class="header-nav">
    <div class="header-logo">
      <a href="./index.html" class="logo">
        <picture>
          <source
            srcset="
              ./img/upgrade/logo-desktop-tablet.png    1x,
              ./img/upgrade/logo-desktop-tablet-2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./img/upgrade/logo-desktop-tablet.png    1x,
              ./img/upgrade/logo-desktop-tablet-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/upgrade/logo-mobile.png    1x,
              ./img/upgrade/logo-mobile-2x.png 2x
            "
            media="(min-width:480px)"
          />
          <img
            class="logo-img"
            srcset="
              ./img/upgrade/logo-desktop-tablet.png    1x,
              ./img/upgrade/logo-desktop-tablet-2x.png 2x
            "
            src="./img/upgrade/logo-desktop-tablet.png"
            alt="logo"
          /> </picture
        ><span class="name">Cinemania</span></a
      >
    </div>

    <button type="button" class="header-menu js-open-menu" id="menu-button">
      <span aria-label="перемикач мобільного меню">MENU</span>
    </button>

    <ul class="header-nav-list">
      <li class="header-nav-item">
        <a href="./index.html" class="header-link">HOME</a>
      </li>
      <li class="header-nav-item">
        <a href="./catalog.html" class="header-link">CATALOG</a>
      </li>
      <li class="header-nav-item">
        <a href="./myLibrary.html" class="header-link">MY LIBRARY</a>
      </li>
    </ul>

    <div class="switcher">
      <span class="switcher__ball"></span>
      <span class="switcher__icon">
        <svg width="13" height="13" class="switcher__icon--moon">
          <use href="/src/svg/symbol-defs.svg#icon-sun_moon"></use>
        </svg>
      </span>
      <span class="switcher__icon">
        <svg width="14" height="14" class="switcher__icon--sun">
          <use href="/src/svg/symbol-defs.svg#icon-sun_button"></use>
        </svg>
      </span>
    </div>
  </nav>

  <!-- Кнопка открытия мобильного меню -->

  <!-- Мобильное меню -->
  <div class="mob-menu js-menu-container">
    <button
      class="mob-menu-svg js-close-menu"
      aria-label="Закрыть мобильное меню"
    >
      <a href="/src/index.html">
        <picture>
          <source
            srcset="
              ./img/upgrade/logo-desktop-tablet.png    1x,
              ./img/upgrade/logo-desktop-tablet-2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./img/upgrade/logo-desktop-tablet.png    1x,
              ./img/upgrade/logo-desktop-tablet-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/upgrade/logo-mobile.png    1x,
              ./img/upgrade/logo-mobile-2x.png 2x
            "
            media="(min-width:480px)"
          />
          <img
            class="logo-img__menu"
            srcset="
              ./img/upgrade/logo-desktop-tablet.png    1x,
              ./img/upgrade/logo-desktop-tablet-2x.png 2x
            "
            src="./img/upgrade/logo-desktop-tablet.png"
            alt="logo"
          />
        </picture>
      </a>
    </button>
    <ul class="mob-menu-list">
      <li class="mob-menu-item">
        <a href="./index.html" class="mob-menu-link">HOME</a>
      </li>
      <li class="mob-menu-item">
        <a href="./catalog.html" class="mob-menu-link">CATALOG</a>
      </li>
      <li class="mob-menu-item">
        <a href="./myLibrary.html" class="mob-menu-link">MY LIBRARY</a>
      </li>
    </ul>
  </div>

  <!-- Оверлей -->
  <div id="overlay"></div>
</header>
