<header>
    <nav class="header-nav">
        <!-- <div>
            <a href="./index.html" class="logo link">
                <svg width="48" height="48">
                    <use href=""></use></svg><span class="name">Cinemania</span></a>
        </div> -->
        
        <ul class="header-nav-list">
            <li class="header-nav-item"><a href="./index.html">HOME</a></li>
            <li class="header-nav-item"><a href="./catalog.html">CATALOG</a></li>
            <li class="header-nav-item"><a href="./myLibrary.html">MY LIBRARY</a></li>
        </ul>
        <button id="toggel-btn" width="60" height="24">X</button>
    </nav>
</header>