<header class="container">
    <nav class="header-nav ">
        <div class="header-logo">
            <a href="./index.html" class="logo">
                <svg width="48" height="48">
                    <use href="./svg/symbol-defs.svg#icon-popcornelsed"></use></svg><span class="name">Cinemania</span></a>
        </div>

        <button type="button" class="header-menu js-open-menu" id="header-menu"><span aria-label="перемикач мобільного меню">
            MENU
</span></button>

        
        <ul class="header-nav-list">
            <li class="header-nav-item"><a href="./index.html" class="header-link">HOME</a></li>
            <li class="header-nav-item"><a href="./catalog.html" class="header-link">CATALOG</a></li>
            <li class="header-nav-item"><a href="./myLibrary.html" class="header-link">MY LIBRARY</a></li>
        </ul>

        <label class="toggle-btn" id="toggle-btn">
            <input type="checkbox" id="toggle-checkbox">
            <span class="slider">
              <svg class="sun-moon-icon">
                <use href="./svg/symbol-defs.svg#icon-sun_moon"></use>
              </svg>
              <svg class="sun-button-icon">
                <use href="./svg/symbol-defs.svg#icon-sun_button"></use>
              </svg>
            </span>
            <span class="spark">
                <!-- <svg class="spark-on" width="2.18px" height="11px">
                    <use href="/src/svg/symbol-defs.svg#spark-on"></use>
                </svg>

                <svg class="spark-off" width="2.18px" height="11px">
                    <use href="/src/svg/symbol-defs.svg#spark-off"></use>
                </svg> -->
            </span>
          </label>
    </nav>
  



    <div class="mob-menu js-menu-container">
        <button class="mob-menu-svg js-close-menu">
            <svg width="40" height="40" aria-label="перемикач мобільного меню"><use href="./svg/symbol-defs.svg#icon-popcornelsed"></use>
            </svg>
        </button>

        <ul class="mob-menu-list">
            <li class="mob-menu-item"><a href="./index.html" class="mob-menu-link current">HOME</a></li>
            <li class="mob-menu-item"><a href="./catalog.html" class="mob-menu-link">CATALOG</a></li>
            <li class="mob-menu-item"><a href="./myLibrary.html" class="mob-menu-link">MY LIBRARY</a></li>
        </ul>
    </div>

</header>
