
 



<div class="mob-menu js-menu-container">
<button class="mob-menu-svg js-close-menu">
      <svg width="40" height="40" aria-label="перемикач мобільного меню"><use href="./svg/symbol-defs.svg#icon-popcornelsed"></use>
      </svg>
</button>

  <ul class="mob-menu-list">
      <li class="mob-menu-item"><a href="./index.html" class="mob-menu-link current">HOME</a></li>
      <li class="mob-menu-item"><a href="./catalog.html" class="mob-menu-link">CATALOG</a></li>
      <li class="mob-menu-item"><a href="./myLibrary.html" class="mob-menu-link">MY LIBRARY</a></li>
  </ul>
  
</div>