<div class="backdrop is-hidden" data-modal="modal-3">
  <button data-modal-close="modal-3" type="button">Close</button>
  <h2 class="section-title">Our Team</h2>
  <ul class="our-team">
    <li class="item">
      <img src="#" alt="" />
      <h3 class="team-manager">Андрій Міняйло</h3>
      <p class="team-title">Team Lead</p>
      <div class="manager-soc">
        <a href="#" class="manager-soc-item">
          <svg class="icon-github" width="20" height="20">
            <use href="#"></use>
          </svg>
        </a>
        <a href="#" class="manager-soc-item">
          <svg class="icon-linkedin" width="20" height="20">
            <use href="#"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="item">
      <img src="#" alt="" />
      <h3 class="team-manager">Олександр</h3>
      <p class="team-title">Skram Master</p>
      <div class="manager-soc">
        <a href="#" class="manager-soc-item">
          <svg class="icon-github" width="20" height="20">
            <use href="#"></use>
          </svg>
        </a>
        <a href="#" class="manager-soc-item">
          <svg class="icon-linkedin" width="20" height="20">
            <use href="#"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="item">
      <img src="#" alt="" />
      <h3 class="team-manager">Денис Гавриленко</h3>
      <p class="team-title">Developer</p>
      <div class="manager-soc">
        <a href="#" class="manager-soc-item">
          <svg class="icon-github" width="20" height="20">
            <use href="#"></use>
          </svg>
        </a>
        <a href="#" class="manager-soc-item">
          <svg class="icon-linkedin" width="20" height="20">
            <use href="#"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="item">
      <img src="#" alt="" />
      <h3 class="team-manager">Au Di</h3>
      <p class="team-title">Developer</p>
      <div class="manager-soc">
        <a href="#" class="manager-soc-item">
          <svg class="icon-github" width="20" height="20">
            <use href="#"></use>
          </svg>
        </a>
        <a href="#" class="manager-soc-item">
          <svg class="icon-linkedin" width="20" height="20">
            <use href="#"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="item">
      <img src="#" alt="" />
      <h3 class="team-manager">Валерій</h3>
      <p class="team-title">Developer</p>
      <div class="manager-soc">
        <a href="#" class="manager-soc-item">
          <svg class="icon-github" width="20" height="20">
            <use href="#"></use>
          </svg>
        </a>
        <a href="#" class="manager-soc-item">
          <svg class="icon-linkedin" width="20" height="20">
            <use href="#"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="item">
      <img src="#" alt="" />
      <h3 class="team-manager">Ілля Куліш</h3>
      <p class="team-title">Developer</p>
      <div class="manager-soc">
        <a href="#" class="manager-soc-item">
          <svg class="icon-github" width="20" height="20">
            <use href="#"></use>
          </svg>
        </a>
        <a href="#" class="manager-soc-item">
          <svg class="icon-linkedin" width="20" height="20">
            <use href="#"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="item">
      <img src="#" alt="" />
      <h3 class="team-manager">Наталья Вальчук</h3>
      <p class="team-title">Developer</p>
      <div class="manager-soc">
        <a href="#" class="manager-soc-item">
          <svg class="icon-github" width="20" height="20">
            <use href="#"></use>
          </svg>
        </a>
        <a href="#" class="manager-soc-item">
          <svg class="icon-linkedin" width="20" height="20">
            <use href="#"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="item">
      <img src="#" alt="" />
      <h3 class="team-manager">Оксана</h3>
      <p class="team-title">Developer</p>
      <div class="manager-soc">
        <a href="#" class="manager-soc-item">
          <svg class="icon-github" width="20" height="20">
            <use href="#"></use>
          </svg>
        </a>
        <a href="#" class="manager-soc-item">
          <svg class="icon-linkedin" width="20" height="20">
            <use href="#"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="item">
      <img src="#" alt="" />
      <h3 class="team-manager">Нікіта Швіндт</h3>
      <p class="team-title">Developer</p>
      <div class="manager-soc">
        <a href="#" class="manager-soc-item">
          <svg class="icon-github" width="20" height="20">
            <use href="#"></use>
          </svg>
        </a>
        <a href="#" class="manager-soc-item">
          <svg class="icon-linkedin" width="20" height="20">
            <use href="#"></use>
          </svg>
        </a>
      </div>
    </li>
  </ul>
</div>
