<div class="popup modal-card-info open">
  <div class="popup__body ">
    <div class="popup__content light">
      <div class="btn__close">

        <button type="button" class="btn-input__close">
          <img src="./svg/close.svg" alt="close" class="btn-close-color">
        </button>
      </div>
      <div class="modal__content ">
        <div class="modal__column">
          <div class="modal__img">
            <img src="#" alt="" class="modal__img-true" />
          </div>
        </div>
        <div class="modal__column">
          <div class="modal__info">
            <div class="discription">
              <h3 class="column__name"></h3>
              <ul class="column__list">
                <li class="column__items">
                  <p class="column__item flex">Vote / Votes</p>
                  <div class="column__item-join _votes flex">
                    <p class="column__item-numbers  votes-num votes-1"></p>
                    <span class="column__item-span">/</span>
                    <p class="column__item-numbers votes-num votes-2"></p>
                  </div>
                </li>
                <li class="column__items">
                  <p class="column__item flex">Popularity</p>
                  <p class="column__item-white flex popularity-text"></p>
                </li>
                <li class="column__items">
                  <p class="column__item flex">Genre</p>
                  <p class="column__item-white flex genre-text"></p>
                </li>
              </ul>
              <p class="column__about">about</p>
              <p class="column__text about-text">
              </p>

            </div>

            <div class="btn__action">
              <button type="button" class="btn__add-to-library">
                <span class="btn__text">Add to my library</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>