<div class="popup">
  <div class="popup__body">
    <div class="popup__content">
      <div class="btn__close">
        <input type="button" value="X" class="btn-input__close" />
      </div>
      <div class="modal__content">
        <div class="modal__column">
          <div class="modal__img">
            <img src="./img/modalcartinfo/Rectangle 24.jpg" alt="jonh4" class="modal__img-true" />
          </div>
        </div>
        <div class="modal__column">
          <div class="modal__info">
            <div class="discription">
                <h3 class="column__name">jonh</h3>
                <ul class="column__list">
                    <li class="column__items">
                        <p class="column__item flex">Vote / Votes</p>
                        <div class="column__item-join flex">
                            <p class="column__item-numbers">7.3</p>
                            <span class="column__item-span">/</span>
                            <p class="column__item-numbers">1260</p>
                        </div>
                    </li>
                    <li class="column__items">
                        <p class="column__item flex">Popularity</p>
                        <p class="column__item-white flex">100.2</p>
                    </li>
                    <li class="column__items">
                        <p class="column__item flex">Genre</p>
                        <p class="column__item-white flex">Action Thriller Crime</p>
                    </li>
                </ul>
                <p class="column__about">about</p>
                <p class="column__text">textrhydetyuhehytety</p>

            </div>

            <div class="btn__action">
              <button type="button" class="btn__add-to-library">
                <span class="btn__text">Add to my library</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
