<div class="backdrop is-hidden" data-modal="modal-2">
  <div class="modal-no-trailer hidden">
      <button type="button" class="modal__close-btn" data-modal-close="modal-2">
        <svg class="modal__icon-close"><use href="./svg/symbol-defs.svg#icon-close"></svg>
      </button>
      <div class="modal__text-container"> 
        <p class="modal__title">
          OOPS...</br> We are very sorry!</br> But we couldn't find the trailer.
        </p>
      </div>
      <picture>
        <source srcset="./img/upgrade/modal-notrailer-img/trailer-modal-desktop.png 1x, ./img/upgrade/modal-notrailer-img/trailer-modal-desktop_2x.png 2x" media="(min-width:1200px)">
        <source srcset="./img/upgrade/modal-notrailer-img/trailer-modal-tablet.png 1x, ./img/upgrade/modal-notrailer-img/trailer-modal-tablet_2x.png 2x" media="(min-width:768px)">
      <img srcset="./img/upgrade/modal-notrailer-img/trailer-modal.png 1x, ./img/upgrade/modal-notrailer-img/trailer-modal_2x.png 2x"
      src="./img/upgrade/modal-notrailer-img/trailer-modal.png"
      alt="Кіно"
      class="modal__img">
      </picture>
  </div>
  <div class="modal-trailer hidden"></div>
  <div class="loader-wrapper"></div>
</div>

