<div class="container">
  <h2>Our Team</h2>
  <ul class="our-team">
    <li>
      <img src="" alt="" />
      <h3>Андрій Міняйло</h3>
      <p>Team Lead</p>
      <div>
        <a href="#">
          <svg class="icon-github" width="20" height="20">
            <use href=""></use>
          </svg>
        </a>
        <a href="#">
          <svg class="icon-linkedin" width="20" height="20">
            <use href=""></use>
          </svg>
        </a>
      </div>
    </li>
    <li>
      <img src="" alt="" />
      <h3>Олександр</h3>
      <p>Skram Master</p>
      <div>
        <a href="#">
          <svg class="icon-github" width="20" height="20">
            <use href=""></use>
          </svg>
        </a>
        <a href="#">
          <svg class="icon-linkedin" width="20" height="20">
            <use href=""></use>
          </svg>
        </a>
      </div>
    </li>
    <li>
      <img src="" alt="" />
      <h3>Денис Гавриленко</h3>
      <p>Developer</p>
      <div>
        <a href="#">
          <svg class="icon-github" width="20" height="20">
            <use href=""></use>
          </svg>
        </a>
        <a href="#">
          <svg class="icon-linkedin" width="20" height="20">
            <use href=""></use>
          </svg>
        </a>
      </div>
    </li>
    <li>
      <img src="" alt="" />
      <h3>Au Di</h3>
      <p>Developer</p>
      <div>
        <a href="#">
          <svg class="icon-github" width="20" height="20">
            <use href=""></use>
          </svg>
        </a>
        <a href="#">
          <svg class="icon-linkedin" width="20" height="20">
            <use href=""></use>
          </svg>
        </a>
      </div>
    </li>
    <li>
      <img src="" alt="" />
      <h3>Валерій</h3>
      <p>Developer</p>
      <div>
        <a href="#">
          <svg class="icon-github" width="20" height="20">
            <use href=""></use>
          </svg>
        </a>
        <a href="#">
          <svg class="icon-linkedin" width="20" height="20">
            <use href=""></use>
          </svg>
        </a>
      </div>
    </li>
    <li>
      <img src="" alt="" />
      <h3>Ілля Куліш</h3>
      <p>Developer</p>
      <div>
        <a href="#">
          <svg class="icon-github" width="20" height="20">
            <use href=""></use>
          </svg>
        </a>
        <a href="#">
          <svg class="icon-linkedin" width="20" height="20">
            <use href=""></use>
          </svg>
        </a>
      </div>
    </li>
    <li>
      <img src="" alt="" />
      <h3>Наталья Вальчук</h3>
      <p>Developer</p>
      <div>
        <a href="#">
          <svg class="icon-github" width="20" height="20">
            <use href=""></use>
          </svg>
        </a>
        <a href="#">
          <svg class="icon-linkedin" width="20" height="20">
            <use href=""></use>
          </svg>
        </a>
      </div>
    </li>
    <li>
      <img src="" alt="" />
      <h3>Оксана</h3>
      <p>Developer</p>
      <div>
        <a href="#">
          <svg class="icon-github" width="20" height="20">
            <use href=""></use>
          </svg>
        </a>
        <a href="#">
          <svg class="icon-linkedin" width="20" height="20">
            <use href=""></use>
          </svg>
        </a>
      </div>
    </li>
    <li>
      <img src="" alt="" />
      <h3>Нікіта Швіндт</h3>
      <p>Developer</p>
      <div>
        <a href="#">
          <svg class="icon-github" width="20" height="20">
            <use href=""></use>
          </svg>
        </a>
        <a href="#">
          <svg class="icon-linkedin" width="20" height="20">
            <use href=""></use>
          </svg>
        </a>
      </div>
    </li>
  </ul>
</div>
