
// Розмітка index.html для перевірки

// <h1>Загальні кнопки</h1>

//<div style="margin: 15px"><button type="button" class="load-more">Load more</button></div>
//<div style="margin: 15px"><button type="button" class="search-movie">Search movie</button></div>
//<div style="margin: 15px"><button type="button" class="watch-trailer">Watch trailer</button></div>
//<div style="margin: 15px"><button type="button" class="remind-me">Remind me</button></div>

// <h3>Стилі бекграунду для search btn</h3>
// <div style="margin: 15px"> <button type="button" class="search-btn"></button></div>

//<h2>Темна тема</h2>

//<div style="margin: 15px"><buttontype="button" class="remove-from-my-library-black-btn-dark-theme">Remove from my library</button></div>
//<div style="margin: 15px"><button type="button" class="add-to-my-library-black-btn-dark-theme">Add to my library</button></div>
//<div style="margin: 15px"><button type="button" class="search-white-magnifier-dark-theme"></button></div>
//<div style="margin: 15px"><button type="button" class="pagination-active-dark-theme">5</button></div>
//<div style="margin: 15px"><button type="button" class="pagination-dark-theme">5</button></div>

//<h2>Світла тема</h2>

// <div style="margin: 15px"><button type="button" class="remove-from-my-library-white-btn-light-theme">Remove from my library</button></div>
// <div style="margin: 15px"><button type="button" class="add-to-my-library-white-btn-light-theme">Add to my library</button></div>
//<div style="margin: 15px"><button type="button" class="search-black-magnifier-light-theme"></button></div>

//     <div style="margin: 15px"><button type="button" class="pagination-active-light-theme">5</button></div>
//<div style="margin: 15px"><button type="button" class="pagination-light-theme">5</button></div>



//  ==============  ЗАГАЛЬНІ КНОПКИ  =================================

.load-more {
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  cursor: pointer;
  height: 38px;
  min-width: 106px;
  left: 107px;
  top: 4274px;
  border: none;
  border-radius: 74px;
  padding: 12px 24px 12px 24px;
  text-align: center;

  @include font(12px, 500, 14px, 0em);

  @media screen and (min-width: 768px) {
    height: 40px;
    min-width: 115px;
    left: 326px;
    top: 1595px;

    @include font(14px, 500, 16px, 0em);
  }

  @media screen and (min-width: 1280px) {
    height: 52px;
    min-width: 134px;
    left: 120px;
    top: 907px;

    @include font(16px, 500, 24px, 0em);
  }

  &:active,
  &:hover {
    background: linear-gradient(
      141.22deg,
      #f84119 9.4%,
      rgba(248, 159, 25, 0.68) 91.91%
    );
  }
}

.search-movie {
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  cursor: pointer;
  height: 38px;
  min-width: 121px;
  left: 99px;
  top: 612px;
  border: none;
  border-radius: 74px;
  padding: 12px 24px 12px 24px;
  text-align: center;

  @include font(12px, 500, 14px, 0em);

  @media screen and (min-width: 768px) {
    height: 40px;
    min-width: 133px;
    left: 317px;
    top: 640px;

    @include font(14px, 500, 16px, 0em);
  }

  @media screen and (min-width: 1280px) {
    height: 52px;
    min-width: 158px;
    left: 561px;
    top: 1032px;

    @include font(18px, 500, 28px, 0em);
  }

  &:active,
  &:hover {
    background: linear-gradient(
      141.22deg,
      #f84119 9.4%,
      rgba(248, 159, 25, 0.68) 91.91%
    );
  }
}

.watch-trailer {
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  cursor: pointer;
  height: 38px;
  min-width: 117px;
  left: 20px;
  top: 286px;
  border: none;
  border-radius: 74px;
  padding: 12px 24px 12px 24px;
  text-align: center;

  @include font(12px, 500, 14px, 0em);

  @media screen and (min-width: 768px) {
    height: 40px;
    min-width: 128px;
    left: 32px;
    top: 292px;
    border: none;
    padding: 10px 24px 10px 24px;

    @include font(14px, 500, 16px, 0em);
  }

  @media screen and (min-width: 1280px) {
    height: 48px;
    min-width: 139px;
    left: 0px;
    top: 93px;
    padding: 12px 24px 12px 24px;

    @include font(16px, 500, 24px, 0em);
  }

  &:active,
  &:hover {

    background: linear-gradient(
      141.22deg,
      #f84119 9.4%,
      rgba(248, 159, 25, 0.68) 91.91%
    );

  }
}

.remind-me {
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  cursor: pointer;
  height: 38px;
  min-width: 117px;
  left: 21px;
  top: 1868px;
  border: none;
  border-radius: 74px;
  padding: 12px 24px 12px 24px;
  text-align: center;

  @include font(12px, 500, 14px, 0em);

  @media screen and (min-width: 768px) {
    height: 40px;
    min-width: 119px;
    left: 32px;
    top: 1671px;

    @include font(14px, 500, 16px, 0em);
  }

  @media screen and (min-width: 1280px) {
    height: 40px;
    min-width: 119px;
    left: 821px;
    top: 474px;

    @include font(14px, 500, 16px, 0em);
  }


  &:active,
  &:hover {

    background: linear-gradient(
      141.22deg,
      #f84119 9.4%,
      rgba(248, 159, 25, 0.68) 91.91%
    );

  }
}

// Стилі бекграунду для кнопки пошуку  ===============================

.search-btn {
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  // background-image: url('/src/svg/Icon_button_white.svg');
  // background-position: center;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border: none;
  left: 2643px;
  top: 3845px;
  border-radius: 50px;

  @media screen and (min-width: 768px) {
    height: 44px;
    width: 44px;
  }

  @media screen and (min-width: 1280px) {
    height: 48px;
    width: 48px;
  }

  &:active,
  &:hover {
    background: linear-gradient(
      141.22deg,
      #f84119 9.4%,
      rgba(248, 159, 25, 0.68) 91.91%
    );
  }
}

// ==============  ТЕМНА ТЕМА  =================================

.remove-from-my-library-black-btn-dark-theme {
  //  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);

  // box-shadow: inset 0px 0px 0px 100vw rgba(17, 17, 17, 1);


  background-color: black;
  color: rgba(248, 248, 248, 1);

  cursor: pointer;

  height: 38px;
  min-width: 106px;
  left: 16px;
  top: 757px;
  border: 1px solid rgba(248, 65, 25, 1); //transparent
  border-radius: 74px;
  padding: 12px 24px 12px 24px;
  text-align: center;

  @include font(12px, 500, 14px, 0em);

  @media screen and (min-width: 768px) {
    height: 40px;
    min-width: 115px;
    left: 326px;
    top: 1595px;

    @include font(12px, 500, 16px, 0em);
  }

  @media screen and (min-width: 1280px) {
    height: 48px;
    min-width: 140px;
    left: 455px;
    top: 436px;

    @include font(16px, 500, 24px, 0em);
  }

  &:active,
  &:hover {
    border: 1px solid rgb(240, 123, 96);
  }
}


.add-to-my-library-black-btn-dark-theme {

  background-color: #f84119;
  // Для отримання бордер градієнту розкоментувати  і дивись властивість border:
  //  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  // box-shadow: inset 0px 0px 0px 100vw rgba(17, 17, 17, 1);
  background-color: black;
  color: rgba(248, 248, 248, 1);

  cursor: pointer;

  height: 38px;
  min-width: 106px;
  left: 16px;
  top: 757px;
  border: 1px solid rgba(248, 65, 25, 1); //Для отримання бордер градієнту transparent замість rgba
  border-radius: 74px;
  padding: 12px 24px 12px 24px;
  text-align: center;

  @include font(12px, 500, 14px, 0em);

  @media screen and (min-width: 768px) {
    height: 40px;
    min-width: 115px;
    left: 326px;
    top: 1595px;

    @include font(12px, 500, 16px, 0em);
  }

  @media screen and (min-width: 1280px) {
    height: 48px;
    min-width: 140px;
    left: 455px;
    top: 436px;

    @include font(16px, 500, 24px, 0em);
  }

  &:active,
  &:hover {
    border: 1px solid rgb(240, 123, 96);
  }
}

.search-white-magnifier-dark-theme {
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);

  background-image: url('/src/svg/Icon_button_white.svg');
  background-position: center;

  cursor: pointer;

  height: 40px;
  width: 40px;
  border: none;
  left: 2643px;
  top: 3845px;
  border-radius: 50px;

  @media screen and (min-width: 768px) {
    height: 44px;
    width: 44px;
  }

  @media screen and (min-width: 1280px) {

    height: 48px;

    width: 48px;
  }

  &:active,
  &:hover {
    border: 1px solid rgb(62, 62, 62);
  }
}


.pagination-active-dark-theme {
  background: transparent;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  color: rgba(248, 248, 248, 1);
  cursor: pointer;
  height: 24px;
  width: 24px;
  border: none;
  left: 2643px;
  top: 3845px;
  border-radius: 50px;

  @include font(10px, 400, 10px, 0em);

  @media screen and (min-width: 768px) {
    height: 32px;
    width: 32px;

    @include font(12px, 400, 14px, 0em);
  }

  @media screen and (min-width: 1280px) {
    height: 40px;
    width: 40px;

    @include font(14px, 400, 14px, 0em);
  }

  &:active,
  &:hover {
    background: linear-gradient(
      141.22deg,
      #f84119 9.4%,
      rgba(248, 159, 25, 0.68) 91.91%
    );
  }
}

.pagination-dark-theme {
  background: transparent;
      display: flex;
        align-items: center;
        justify-content: center;

  border: 1px solid #b7b7b7;
  color: rgba(248, 248, 248, 1);
  cursor: pointer;
  height: 24px;
  width: 24px;
  left: 2643px;
  top: 3845px;
  border-radius: 50px;

  @include font(10px, 400, 10px, 0em);

  @media screen and (min-width: 768px) {
    height: 32px;
    width: 32px;

    @include font(12px, 400, 14px, 0em);
  }

  @media screen and (min-width: 1280px) {
    height: 40px;
    width: 40px;

    @include font(14px, 400, 14px, 0em);
  }

  &:active,
  &:hover {
    border: 1px solid #8f8f8f;
    color: #8f8f8f;
  }
}

// ============ СВІТЛА ТЕМА ===============================================

.remove-from-my-library-white-btn-light-theme {
  //  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  // box-shadow: inset 0px 0px 0px 100vw rgba(17, 17, 17, 1);

  background-color: rgba(255, 255, 255, 1);
  color: rgba(17, 17, 17, 1);
  cursor: pointer;
  height: 38px;
  min-width: 106px;
  left: 16px;
  top: 757px;
  border: 1px solid rgba(248, 65, 25, 1); //transparent
  border-radius: 74px;
  padding: 12px 24px 12px 24px;
  text-align: center;

  @include font(12px, 500, 14px, 0em);

  @media screen and (min-width: 768px) {
    height: 40px;
    min-width: 115px;
    left: 326px;
    top: 1595px;

    @include font(12px, 500, 16px, 0em);
  }

  @media screen and (min-width: 1280px) {
    height: 48px;
    min-width: 140px;
    left: 455px;
    top: 436px;

    @include font(16px, 500, 24px, 0em);
  }

  &:active,
  &:hover {
    border: 1px solid rgb(240, 123, 96);
  }
}

.add-to-my-library-white-btn-light-theme {
  background-color: #f84119;
  // Для отримання бордер градієнту розкоментувати  і дивись властивість border:
  //  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  // box-shadow: inset 0px 0px 0px 100vw rgba(17, 17, 17, 1);

  background-color: rgba(255, 255, 255, 1);
  color: rgba(17, 17, 17, 1);
  cursor: pointer;
  height: 38px;
  min-width: 106px;
  left: 16px;
  top: 757px;
  border: 1px solid rgba(248, 65, 25, 1); //Для отримання бордер градієнту transparent замість rgba
  border-radius: 74px;
  padding: 12px 24px 12px 24px;
  text-align: center;

  @include font(12px, 500, 14px, 0em);

  @media screen and (min-width: 768px) {
    height: 40px;
    min-width: 115px;
    left: 326px;
    top: 1595px;

    @include font(12px, 500, 16px, 0em);
  }

  @media screen and (min-width: 1280px) {
    height: 48px;
    min-width: 140px;
    left: 455px;
    top: 436px;

    @include font(16px, 500, 24px, 0em);
  }

  &:active,
  &:hover {
    border: 1px solid rgb(240, 123, 96);
  }
}

.search-black-magnifier-light-theme {
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  background-image: url('/src/svg/Icon_button_black.svg');
  background-position: center;

  cursor: pointer;

  height: 40px;
  width: 40px;
  border: none;
  left: 2643px;
  top: 3845px;
  border-radius: 50px;




  @media screen and (min-width: 768px) {
    height: 44px;
    width: 44px;
  }

  @media screen and (min-width: 1280px) {
    height: 48px;
    width: 48px;
  }

  &:active,
  &:hover {
    border: 1px solid rgba(255, 194, 38, 1);
  }
}


// .pagination-active-light-theme {
//   background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
//   border: none;
//   color: #282828;
//   cursor: pointer;
//   height: 24px;
//   width: 24px;
//   left: 2643px;
//   top: 3845px;
//   border-radius: 50px;

//   @include font(10px, 400, 10px, 0em);

//   @media screen and (min-width: 768px) {
//     height: 32px;
//     width: 32px;

//     @include font(12px, 400, 14px, 0em);
//   }

//   @media screen and (min-width: 1280px) {
//     height: 40px;
//     width: 40px;

//     @include font(14px, 400, 14px, 0em);
//   }

//   &:active,
//   &:hover {
//     background: linear-gradient(
//       141.22deg,
//       #f84119 9.4%,
//       rgba(248, 159, 25, 0.68) 91.91%
//     );
//   }
// }

// .pagination-light-theme {
//   background: transparent;
//   border: 1px solid #595959;
//   color: #595959;
//   cursor: pointer;
//   height: 24px;
//   width: 24px;
//   left: 2643px;
//   top: 3845px;
//   border-radius: 50px;

//   @include font(10px, 400, 10px, 0em);

//   @media screen and (min-width: 768px) {
//     height: 32px;
//     width: 32px;

//     @include font(12px, 400, 14px, 0em);
//   }

//   @media screen and (min-width: 1280px) {
//     height: 40px;
//     width: 40px;

//     @include font(14px, 400, 14px, 0em);
//   }

//   &:active,
//   &:hover {
//     border: 1px solid #8f8f8f;
//     color: #8f8f8f;
//   }
// }

//=================Pagination===================


.tui-pagination {
  display: flex;
  justify-content: center;
  height: 40px;
  margin-top: 20px;

  @include tablet {
    margin-top: 44px;
  }

  @include desktop {
    margin-top: 60px;
  }
}

.tui-page-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #b7b7b7;
  color: #b7b7b7;
  background: transparent;
}

.tui-page-btn:hover,
.tui-page-btn:focus {
  color: #F87719;
  border: 2px solid #F87719;
}

.tui-page-btn.tui-is-selected {
  color: whitesmoke;
  border: none;
  background: linear-gradient(141.22deg,
      #f84119 9.4%,
      rgba(248, 159, 25, 0.68) 91.91%);
}

.tui-page-btn.tui-first {
  margin: 0;
  border: none;
  background-image: url(../img/upgrade/double-arrow-prev.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.tui-page-btn.tui-last {
  border: none;
  background-image: url(../img/upgrade/double-arrow-next.png);
  background-position: 50% 50%;
}

.tui-page-btn.tui-prev-is-ellip.tui-first-child,
.tui-page-btn.tui-next-is-ellip.tui-last-child {
  border: none;
}

.tui-page-btn.tui-next {
  background-image: url(../img/upgrade/arrow-next.png);
  background-position: 50%;
  background-repeat: no-repeat;
  border: none;
  margin-right: 0;
}

.tui-page-btn.tui-prev {
  background-image: url(../img/upgrade/arrow-prev.png);
  background-position: 50%;
  background-repeat: no-repeat;
  border: none;
  margin-right: 0;
}

.tui-next-is-ellip,
.tui-prev-is-ellip {
  border: none;
  align-items: flex-end;
  width: 10px;
}

.tui-is-disabled {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.tui-next-is-ellip.tui-last-child {
  margin-right: 0;
}