.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: 2px solid black;
  margin-right: 5px;
  font-size: 16px;
  display: flex;
}

.search-form__input {
flex-direction: row;
align-items: center;
padding: 12px 260px 12px 24px;
gap: 10px;

width: 334px;
height: 48px;

/* White */

border: 1px solid #FFFFFF;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}



.search-form__input:last-of-type {
  margin-right: 0;
}

.search-form__input,
button[type="submit"] {
  padding: 10px;
  border: none;
  border-bottom: 2px solid black;
  margin-right: 5px;
  font-size: 16px;
}

button[type="submit"] {
  align-self: center;
  width: 48px;
height: 48px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
