.footer {
  display: inline-flex;
  align-items: flex-end;
      
      @media screen and (min-width: 768px) {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
        display: flex;
        justify-content: center;
      }
    
      @media screen and (min-width: 1200px) {
        width: 1200px;
      }
}

.footer-text {
  // display: flex;
  // justify-content: flex-end;
  // align-items: flex-end;
  margin-right: 10px;
  color: #B7B7B7;
  @media screen and (min-width: 480px) {
    width: 320px;
    font-size: 14px;
    line-height: 16px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 16px;
    line-height: 19px;
  }


}
.footer-img {
  margin-right: 10px;
}
.footer-link {
  color: #B7B7B7;
  text-decoration: underline;
  @media screen and (min-width: 480px) {
    width: 320px;
    font-size: 14px;
    line-height: 16px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 16px;
    line-height: 19px;
  }
}