.footer {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
.footer-text {
    margin-right: 10px;
    color: getColor ('secondaryText');
}
.footer-img {
    margin-right: 10px;
}
.footer-link {
    color: getColor ('secondaryText');
}