.footer {
  // display: flex;
  // align-items: flex-end;
  // justify-content: center;
  flex-wrap: nowrap;
    // margin-right: auto;
    // margin-left: auto;
    @media screen and (min-width: 480px) {
        width: 300px;
        // display: inline;
      }
    
      @media screen and (min-width: 768px) {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
        display: flex;
        justify-content: center;
      }
    
      @media screen and (min-width: 1200px) {
        width: 1200px;
      }
}

.footer-text {
  // display: flex;
  // justify-content: flex-end;
  // align-items: flex-end;
  margin-right: 10px;
  color: #B7B7B7;


}
.footer-img {
  margin-right: 10px;
}
.footer-link {
  color: #B7B7B7;
  text-decoration: underline;

}