.header-nav {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: getColor ('backgroundSecondary');
    margin-left: auto;
    margin-right: auto;
}
.header-nav-list {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}
.header-nav-item {
    padding-right: 40px;
     
}
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: getColor ('secondaryText');
}
.toggel-btn {
    margin-right: 32px;
}