
.header-nav {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111111;

    // @include tel {
    //   height: 48px;
    // }

      @include tablet {
        padding-left: 32px;
        padding-right: 32px;
        height: 60px;
        display: flex;
        align-items: center;
      }
      @include desktop {
        // width: 1280px;
      }
}


.header-nav.light {
  background-color: #111111; 

}

.header-logo {
  display: flex;
  margin-left: 20px;
}
.logo {
  display: flex;
  justify-content: center;
}
.name {
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  @include tel {
    display: none;
  }
   @include tablet {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
  }
}

.name.light {
  color: #282828;

}
.header-nav-list {
  display: none;
  margin-right: auto;
  margin-left: auto;
    @include tablet {
      display: flex;
    }
}
.header-nav-item {
  padding-right: 40px;
}

.header-link:hover {
  transition: color 0.2s ease;
  color: #F87719;
}


.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #B7B7B7;
}

.switcher {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 38px;
  height: 16px;
  padding: 2px;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 50px;
  cursor: pointer;

  @include tablet {
    width: 54px;
    height: 20px;
  }
  @include desktop {
    width: 60px;
    height: 24px;
    padding: 3px;
  }
  @media screen and (max-width: 767px) {
    transform: translateX(-15px);
  }
}

.switcher__icon {
  display: flex;
  align-items: center;
}

.switcher__icon--moon {
  width: 8px;
  height: 8px;
  fill: transparent;
  transition: .3s;
  @include tablet {
    width: 10px;
    height: 10px;
  }
  @include desktop {
    width: 13px;
    height: 13px;
  }
}

.switcher__icon--sun {
  width: 8px;
  height: 8px;
  fill: transparent;
  @include tablet {
    width: 11px;
    height: 11px;
  }
  @include desktop {
    width: 14px;
    height: 14px;
  }
}

.switcher__ball {
  transition: all .3s;
  position: absolute;
  left: 24px;
  width: 12px;
  height: 12px;
  background-image: url('/src/svg/switcherball.svg');
  background-size: cover;
  cursor: pointer;
  @include tablet {
    left: 36px;
    width: 16px;
    height: 16px;
  }
  @include desktop {
    left: 39px;
    width: 18px;
    height: 18px;
  }
}

.light .switcher__ball {
  transform: translateX(-22px) rotate(-180deg);
  @include tablet {
    transform: translateX(-34px) rotate(-180deg);
  }
  @include desktop {
    transform: translateX(-36px) rotate(-180deg);
  }
}

// ------моб меню--------

.logo-img__menu {
  margin-left: 20px;
  margin-top: 8px;
}

.header-menu {
  font-size: 14px;
  line-height: 16px;
  color: #B7B7B7;
  border: none;
  background: inherit;

    @include tablet {
      display: none;
    }
}
.mob-menu-container {
padding-left: 20px;
padding-top: 20px;

}

.mob-menu {
  position: fixed;
  top: 0;
  left: -64%;
  width: 64%;
  height: 428px;
  background-color: #111111;
  z-index: 999;
  transition: left 0.3s ease;
  border-radius: 0px 8px 8px 0px;
}

.mob-menu-list {
  padding: 0;
  list-style: none;
  transform: translateY(50px);
  margin-left: 20px;
}

.mob-menu-item {
  margin-bottom: 20px;
}

.mob-menu-link {
  display: block;
font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px;
}

.mob-menu-link:hover {
  color: #F87719;
  transition: color 0.2s ease;
}

.mob-menu-svg {
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
}

.mob-menu-svg svg {
  width: 30px;
  height: 30px;
  fill: #333;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  transform: translateX(200px);
}


body {
  overflow: auto;
}

.img_menu-mobile {
  margin-left: 20px;
}


// light
.mob-menu.light {
  background-color: #FFFFFF;

  .mob-menu-link {
    color: #111111;
  }
}

.header-menu.light {
  color:#595959;
}


.header-link.light {
  color: #595959;

  :hover {
    transition: color 0.2s ease;
    color: #F87719;
  }
}


.footer-text.light {
  color: #595959;
}

.footer-text-span.light {
  color: #595959;
}

.footer-link.light {
  color: #595959;
}

.text-left.light {
  color: #111;
}

.modal-info-vote-right__text-slesh {
  color: #B7B7B7;
}
// curent
.current a {
  color: #F87719 !important;
}
