#hero {
  display: flex;
  // height: 720px;
  // background-image: url(../img/upgrade/desktop.jpg);
}

.hero__backgr {
  justify-content: end;
  position: relative;
  width: 100%;
  height: 380px;

  @include tablet {
    position: relative;
    display: flex;
    width: 100%;
    height: 432px;
  }

  @include desktop {
    height: 720px;
  }
}

.hero__img{
  width: 100%;
  height: 380px;
  object-fit: cover;
  
  @include tablet {
      width: 482px;
      height: 432px;
    }

   @include desktop {
     height: 720px;
     width: 802px;
   }
}

.hero__discription {  
  position: absolute;
  z-index: 10;
  width: 200px;
  height: 380px;
  background: linear-gradient(87.8deg, #0E0E0E 15.61%, rgba(14, 14, 14, 0) 60.39%);

  @include tablet {
    background-image: url(../img/upgrade/fronttablet.png);
    background-size: cover;
    width: 705px;
    height: 432px;
    z-index: 10;
    }

  @include desktop {
    background-image: url(../img/upgrade/frontdesktop.png);
    background-size: cover;
    height: 721px;
    width: 1217px;
  }
}

.hero__discription-light{
    @include tablet {
        background-image: url(../img/upgrade/greyfronttablet.png);
        background-size: cover;
        width: 705px;
        height: 432px;
        z-index: 10;
      }
    
      @include desktop {
        background-image: url(../img/upgrade/greygrontdesktop.png);
        background-size: cover;
        color:#0E0E0E;
        height: 721px;
        width: 1217px;
      }
}

.hero__title{
  height: 70px;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  align-items: center;  
  color: #FFFFFF;

  @include tablet{
    height: 116px;
    width: 265px;
    font-size: 32px;
  }

  @include desktop {
    height: 180px;
    margin-left: 124px;
    margin-top: 118px;
    margin-bottom: 16px;
    width: 375px;
    font-size: 53px;
  }
}

.hero__title-light{
  @include tablet {
      color: #0E0E0E;
    }
  
    @include desktop {
      color: #0E0E0E;
    }
}

.hero__rating{
  margin-left: 20px;
  margin-bottom: 20px;
  background: -webkit-gradient(linear,
        left top,
        left bottom,
        from(#f84119),
        to(#ffc226));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  @include desktop {
      margin-left: 124px;
      margin-bottom: 28px;
      width: 367px;
      font-size: 16px;
    }
}

.hero__text{
height: 150px;
  color: #f8f8f8;
  margin-bottom: 16px;
  margin-left: 20px;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  display: flex;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    background-color: transparent;
  }
  
  @include tablet {
    width: 275px;
    height: 120px;
    margin-bottom: 28px;
  }

  @include desktop {
    height: 130px;
    margin-left: 124px;
    margin-bottom: 36px;
    width: 367px;
    font-size: 16px;
  }
}

.hero__text-light{
  @include tablet {
      color: #0E0E0E;
    }
  
    @include desktop {
      color: #0E0E0E;
    }
}

.hero__btn {
  margin-left: 20px;
  margin-bottom: 20px;

  @include tablet {
      margin-bottom: 32px;
    }

  @include desktop {
      margin-left: 124px;
      margin-bottom: 40px;
    }
}

.hero__slider {
  display: flex;
  margin-left: 20px;
  margin-bottom: 20px;

  @include desktop {
    margin-left: 124px;
  }
}